Generate Images Bot v9 + Video (poll mode).json
{
  "name": "Generate Images Bot v9 + Video (poll mode)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1504,
        3536
      ],
      "id": "28e18068-0091-4f06-90d7-4894d84ad00b",
      "name": "Telegram Trigger",
      "webhookId": "4d15cdbb-6368-4bc5-bae9-8d7ae106bcb2",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.file_id }}",
        "additionalFields": {}
      },
      "id": "36e1cd47-4aa5-4339-a0a6-423fa0c75d04",
      "name": "Download Photo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        1296
      ],
      "webhookId": "94086a7c-f666-4514-ba88-90aec63416e3",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "af64685b-bc64-4a4f-a159-9d3822232f67",
                    "leftValue": "={{ $('Set Params').item.json.tg.photo }}",
                    "rightValue": "\"\"",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "photo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f1f6430b-931e-418a-9439-a76ba0ddbcff",
                    "leftValue": "={{ $('Set Params').item.json.tg.text }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08b216fd-bea5-4101-9ea8-ef0814e55a52",
                    "leftValue": "={{ $('Set Params').item.json.tg.file }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "file"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "300885b7-7f02-4676-9b49-215a0f62b818",
                    "leftValue": "={{ $('Set Params').item.json.tg.callback_data }}",
                    "rightValue": "edit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "callback_edit"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ec92c109-469a-4e34-a18c-b26c5a685a09",
                    "leftValue": "={{ $('Set Params').item.json.tg.callback_data }}",
                    "rightValue": "clear_context",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "callback_clear_context"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0de84a13-c9bf-4c04-b836-767a6b1b60fb",
                    "leftValue": "={{ $('Set Params').item.json.tg.callback_data }}",
                    "rightValue": "model1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "model1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4f72acbd-905c-4d9d-8ec3-93b90962a108",
                    "leftValue": "={{ $('Set Params').item.json.tg.callback_data }}",
                    "rightValue": "model2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "model2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8dc9434-e2c2-4e0f-bc72-52da8d293fdb",
                    "leftValue": "={{ $('Set Params').item.json.tg.callback_data }}",
                    "rightValue": "model3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "model3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2ae8f455-89ae-40db-aff2-3c95c025d8d8",
                    "leftValue": "={{ $('Set Params').item.json.tg.callback_data }}",
                    "rightValue": "model4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "model4"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "988b3f4b-5262-4aaf-b378-22866c109b3b",
                    "leftValue": "={{ $('Set Params').item.json.tg.callback_data }}",
                    "rightValue": "t2v",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "model_t2v"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0da57caa-c52d-404f-bd40-1a6540a5fba2",
                    "leftValue": "={{ $('Set Params').item.json.tg.callback_data }}",
                    "rightValue": "i2v",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "model_i2v"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -96,
        3344
      ],
      "id": "dd9e25b0-7793-47ec-b1e8-a2f41e59792c",
      "name": "Switch message type"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d920edfa-bd82-4645-b8ba-5d69566f689a",
              "name": "=tg.user_id",
              "value": "={{ $json.message?.from?.id || $json.callback_query?.from?.id }}",
              "type": "string"
            },
            {
              "id": "9d5a4d00-59af-4bc4-bf7f-5abca9f9ca0a",
              "name": "tg.first_name",
              "value": "={{ $json.message?.from?.first_name || $json.callback_query?.from?.first_name }}",
              "type": "string"
            },
            {
              "id": "e821095e-2173-428b-aeb7-1ab93a028a3e",
              "name": "tg.username",
              "value": "={{ $json.message?.from?.username || $json.callback_query?.from?.username }}",
              "type": "string"
            },
            {
              "id": "55c05b7a-defc-4dab-8c82-71db476e96f9",
              "name": "tg.text",
              "value": "={{$json.message?.text || \"\" }}",
              "type": "string"
            },
            {
              "id": "214f3f64-7bd0-44c9-996f-21b04c678a6a",
              "name": "tg.entities",
              "value": "={{ $json.message?.entities[0]?.type || \"\" }}",
              "type": "string"
            },
            {
              "id": "a297bf27-b353-4bad-a12d-a06dc76d4de6",
              "name": "tg.callback_data",
              "value": "={{ $json.callback_query.data }}",
              "type": "string"
            },
            {
              "id": "b5745a5d-e9b4-4bd0-aec4-30e7bed86cd0",
              "name": "tg.photo",
              "value": "={{ $json.message.photo }}",
              "type": "array"
            },
            {
              "id": "1ac24d42-9074-44c3-8c7d-40e6d52fa737",
              "name": "tg.is_photo",
              "value": "={{ $json.message.photo[0].file_id || \"\" }} ",
              "type": "string"
            },
            {
              "id": "8b3a4f1c-d3c9-427e-9d96-acc32f654fe7",
              "name": "tg.file",
              "value": "={{ $json.message.document }}",
              "type": "object"
            },
            {
              "id": "855e1b2b-d483-4f6f-a18a-a8e6c0aa9d79",
              "name": "tg.is_file",
              "value": "={{ $json.message.document.file_id || \"\" }} ",
              "type": "string"
            },
            {
              "id": "7bfbfe5e-963f-4b71-b385-7f23722345cb",
              "name": "tg.caption",
              "value": "={{ $json.message.caption || \"\" }}",
              "type": "string"
            },
            {
              "id": "75a1de89-7fde-4e3e-8fcc-4f93d238a6df",
              "name": "tg.now",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        3536
      ],
      "id": "b68ab95a-4678-4af3-8862-292d284c3930",
      "name": "Set Params"
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "=В запросе должен быть понятный промпт и/или описаны действия со всеми изображениями из контекста!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1792,
        3120
      ],
      "id": "aed927a1-4e72-46c0-8cdd-78671b8c2c45",
      "name": "Send error",
      "webhookId": "73c64a1f-e8d4-483f-b4a0-1492faa292bd",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set Params').item.json.tg.user_id }}",
        "text": "={{ $('Set Params').item.json.tg.username }}, к сожалению, я вас не знаю, /start \n",
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -288,
        3712
      ],
      "id": "26d866fc-82f6-42ed-b30e-9e3eaa682f7b",
      "name": "Unknown user",
      "webhookId": "22b1e7e7-1430-4183-95a2-29593cbd598f",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=439658166",
        "text": "=Попытка использовать бота от имени не зарегистрированного пользователя: {{ $('Set Params').item.json.tg.username }}\n",
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -80,
        3888
      ],
      "id": "ad154bdc-d19b-4771-881d-2d0b2eb1cc9d",
      "name": "Send Alert",
      "webhookId": "effc6782-01dc-4486-bd6d-23cec9c2e3ee",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "ImageUsers",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "keyValue": "={{ $json.tg.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1056,
        3536
      ],
      "id": "7026d227-e670-4c08-bf36-b0e81d3cd4f6",
      "name": "Get a User",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Z1UYTqDLcqu0rYkP",
          "name": "Supabase for ImageVideoGenerator"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "tg.db_telegram_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        -672,
        3520
      ],
      "id": "ae940a80-6e48-43d4-b803-05d3a072cc9f",
      "name": "Summarize",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set Params').item.json.tg.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c1b4f067-8979-4b81-8ec7-514f8491b3a9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7062adde-42fb-4ff9-8262-93fb54f66557",
                    "leftValue": "={{ $('Set Params').item.json.tg.text }}",
                    "rightValue": "/clear_context",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "clear_context"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e70b8374-a55e-4aaf-908a-2cca6642ef8f",
                    "leftValue": "={{ $('Set Params').item.json.tg.text }}",
                    "rightValue": "/help",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "help"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ed12fd45-9096-4bb8-8a2c-f008fa413bc4",
                    "leftValue": "={{ $('Set Params').item.json.tg.text }}",
                    "rightValue": "/menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "menu"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -224,
        288
      ],
      "id": "a4bcf16c-eb86-4c6d-b505-e668859dba63",
      "name": "Switch Bot Command"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "319a56bd-235e-47bf-929c-91ea76d4fc32",
                    "leftValue": "={{ $('Set Params').item.json.tg.entities }}",
                    "rightValue": "bot_command",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bot_command"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f1f6430b-931e-418a-9439-a76ba0ddbcff",
                    "leftValue": "={{ $json.count_tg_db_telegram_id }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ok"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -448,
        3504
      ],
      "id": "d6cfae1f-ca89-4bce-8ea9-5bf84ff285ff",
      "name": "Switch1"
    },
    {
      "parameters": {
        "tableId": "ImageUsers",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telegram_id",
              "fieldValue": "={{ $('Set Params').item.json.tg.user_id }}"
            },
            {
              "fieldId": "user_name",
              "fieldValue": "={{ $('Set Params').item.json.tg.username }}"
            },
            {
              "fieldId": "last_sign_in_at",
              "fieldValue": "={{ $('Set Params').item.json.tg.now }}"
            },
            {
              "fieldId": "model",
              "fieldValue": "black-forest-labs/flux.2-klein-4b"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        64
      ],
      "id": "d8101e26-4599-4549-8080-94ce346c2089",
      "name": "Create a User",
      "credentials": {
        "supabaseApi": {
          "id": "Z1UYTqDLcqu0rYkP",
          "name": "Supabase for ImageVideoGenerator"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst images = [];\n\nfor (let i = 0; i < items.length; i++) {\n  try {\n    const binaryKey = 'data';\n    \n    if (items[i].binary && items[i].binary[binaryKey]) {\n      const binaryObject = items[i].binary[binaryKey];\n      \n      // Считываем файл и кодируем в Base64\n      const buffer = await this.helpers.getBinaryDataBuffer(i, binaryKey);\n      const base64String = buffer.toString('base64');\n      \n      // Добавляем в массив для Gemini\n      images.push({\n        inlineData: {\n          mimeType: binaryObject.mimeType,\n          data: base64String\n        }\n      });\n    }\n  } catch (error) {\n    console.error('Error processing image:', error);\n  }\n}\n\n// Возвращаем один объект со всеми изображениями\nreturn [{\n  json: {\n    images: images,\n    imageCount: images.length\n  }\n}];"
      },
      "id": "520d29cf-b608-4a71-86bf-32d4ec746b46",
      "name": "Convert bin to base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        1728
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "=Изображение добавлено в контекст",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        1200
      ],
      "id": "60d868e1-a8be-402f-80e8-038a16a01d31",
      "name": "Photo added to context",
      "webhookId": "b82c3b53-08a7-4763-bb6b-65f75bbc7e33",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const setParamsData = $('Set Params').first().json;\nconst photos = setParamsData.tg?.photo || [];\n\nif (photos.length > 0) {\n  const bestPhoto = photos[photos.length - 1]; // лучшее качество\n  // const bestPhoto = photos[0]; // ← первый элемент = минимальное разрешение\n\n  \n  return [{\n    json: {\n      file_id: bestPhoto.file_id,\n      width: bestPhoto.width,\n      height: bestPhoto.height,\n      file_size: bestPhoto.file_size,\n      tg: setParamsData.tg\n    }\n  }];\n}\n\nreturn [{ json: { error: 'No photos found' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1296
      ],
      "id": "a066453e-ee33-45e8-8bc9-2f6f8f5bbdbf",
      "name": "Get image with necessary size (small now)"
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "=Контекст очищен, установлена модель \"Fast\": \"black-forest-labs/flux.2-klein-4b\". Загрузи изображения или напиши промпт.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        352
      ],
      "id": "1259775a-9ed8-44a7-9468-5b55785a1a11",
      "name": "Context cleared",
      "webhookId": "a7aa89d6-fbfd-4122-b58c-2d6be683b1e0",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "=Контекст пустой или ошибка в получении данных из DB",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        688
      ],
      "id": "e6898fd0-4744-4955-ba04-cc32ebcc81ab",
      "name": "Context empty",
      "webhookId": "c6ff900a-2bc8-43dd-814e-5a7e6653b77d",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "=Ошибка в получении фотографий из DB",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        2224
      ],
      "id": "0fe67a18-2bdd-49af-8c14-0d98f2210739",
      "name": "Error Get rows",
      "webhookId": "72fbc061-39f3-49ac-b218-63b092ac8d95",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "content": "## Можно поменять размер вручную\nсейчас лучшее качество",
        "height": 256,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        1200
      ],
      "id": "874d7f2b-6602-4638-b015-8c07c20c8d53",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// Создаем массив для результатов\nconst results = [];\n\n// Получаем все входящие элементы\nconst items = $input.all();\n\nfor (const item of items) {\n  try {\n    // Безопасно получаем массив изображений\n    const images = item.json.choices?.[0]?.message?.images;\n\n    if (images && Array.isArray(images) && images.length > 0) {\n      \n      // 1. Получаем количество картинок\n      const totalImages = images.length;\n\n      // 2. Берем ТОЛЬКО ПЕРВУЮ картинку\n      const firstImage = images[0];\n      const dataUrl = firstImage.image_url?.url;\n\n      if (dataUrl) {\n        // Разбиваем Data URL для получения чистого Base64 и типа файла\n        const splitData = dataUrl.split(',');\n        const base64Data = splitData[1];\n        \n        // Определяем mime-type (например, image/jpeg)\n        const mimeType = splitData[0].match(/:(.*?);/)?.[1] || 'image/png';\n        // Определяем расширение файла\n        const extension = mimeType.split('/')[1] || 'png';\n        \n        // Генерируем имя файла\n        const fileName = `generated_image_1.${extension}`;\n\n        // Формируем выходной элемент\n        results.push({\n          json: {\n            ...item.json, // Сохраняем все исходные данные\n            images_count: totalImages, // Добавляем количество картинок (число)\n            info_message: `Всего сгенерировано изображений: ${totalImages}. Возвращаю первое.`,\n            usage: $input.first().json.usage\n          },\n          binary: {\n            data: {\n              data: base64Data,\n              mimeType: mimeType,\n              fileName: fileName\n            }\n          }\n        });\n      }\n    } else {\n      // Если картинок нет, возвращаем исходный элемент с ошибкой\n      item.json.error = \"Картинки не найдены в ответе API\";\n      results.push(item);\n    }\n  } catch (error) {\n    // Логируем ошибку в выходной JSON\n    item.json.error_message = error.message;\n    results.push(item);\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        2928
      ],
      "id": "8e3d9cb4-89ce-4e00-ae8c-36895cad7bd6",
      "name": "Prepare file for DB"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "95fbdd03-ecc5-4bb6-b9ac-e14cf38d38ef",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        448
      ],
      "id": "bbf3345c-740d-4aaf-b4bd-32e037eaedc3",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "={{ $json.choices[0].message.content }}\n{{ $json.error }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2464,
        3040
      ],
      "id": "ad445eb9-a892-4317-9148-9f406e45af6c",
      "name": "Send image error",
      "webhookId": "a8757a54-f0f3-4478-8f02-4d5e0bff76e6",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "=Ошибка добавления изображения в контекст, попробуйте еще раз...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        1392
      ],
      "id": "8346bf0d-9abe-4b19-b235-172644d7bbb8",
      "name": "Error Photo added to context",
      "webhookId": "fa96f6b5-8347-41cc-a019-be299567d0d6",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2464,
        2832
      ],
      "id": "8ed67ac2-6ebc-4118-99b9-8f63f056d906",
      "name": "Merge"
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "=Начинаю генерацию изображения, пожалуйста подождите (обычно около 1 минуты).",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1408,
        2784
      ],
      "id": "40091859-c107-469c-a68c-76dd34416a39",
      "name": "Please wait",
      "webhookId": "770edd01-d04b-4831-8971-c64f0cebc400",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://byyiwfyetzlegbowqbtn.supabase.co/storage/v1/object/{{ $('Get active images').item.json.image_name }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        1712
      ],
      "id": "79f3a597-8f9c-4bb2-bf24-8f31bf779c70",
      "name": "HTTP Request - download photo from DB",
      "credentials": {
        "httpBearerAuth": {
          "id": "Zfe1EGnJorQNpOzW",
          "name": "VseLLM Images"
        },
        "httpHeaderAuth": {
          "id": "wgg3Z1GOct9Qnmy8",
          "name": "Header Auth for ImageVideoGenerator"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "=Ошибка получения данных из DB",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        1536
      ],
      "id": "2b34206e-fdf8-4fb8-8515-d444c297054b",
      "name": "DB Error",
      "webhookId": "c473f9d1-01c2-49de-b1af-5022df13c52e",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set Params').item.json.tg.user_id }}",
        "text": "=Неизвестный тип данных! Для справки /help\n",
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        3056
      ],
      "id": "fc7950b9-b69e-48e1-9411-8f3e673f8c56",
      "name": "Unknown data type",
      "webhookId": "6d318408-4270-428e-8094-5ad392725b65",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set Params').item.json.tg.user_id }}",
        "text": "=Файлы не поддерживаются, {{ $('Set Params').item.json.tg.username }}, пришли пожалуйста картинки! \n",
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        2672
      ],
      "id": "f4000576-e0db-4cea-af83-f684c69ae903",
      "name": "File unsupport",
      "webhookId": "dc40df08-632a-4c19-9fde-022d329faa33",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "=Ошибка генерации изображения: {{ $('Prepare file for DB').item.json.error }}. Повторите запрос позже или начните генерацию заново или переформулируйте запрос.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2288,
        2656
      ],
      "id": "1834b987-3819-48fc-a466-4fcefc8da9ef",
      "name": "Error LLM",
      "webhookId": "3c700ada-b3a6-4228-a206-76dd990f91a7",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "95fbdd03-ecc5-4bb6-b9ac-e14cf38d38ef",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        3248
      ],
      "id": "a80ba0cd-3f23-47e8-8838-451dd9bcaf54",
      "name": "If2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Set Params').item.json.tg.user_id }}",
        "text": "=Неизвестная команда: {{ $('Set Params').item.json.tg.text }}",
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        912
      ],
      "id": "defa9938-2563-48dd-80f2-614a0178e805",
      "name": "Unknown command",
      "webhookId": "1e327c20-f921-4aaa-a6ab-a27664d72ec8",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set Params').item.json.tg.user_id }}",
        "text": "Пользователь создан, добро пожаловать! Для начала работы загрузи изображения или напиши промпт или вызови главное меню /menu",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        64
      ],
      "id": "9d83ef50-7079-496a-920a-295f4943cd0c",
      "name": "Create User ok",
      "webhookId": "0348d537-c813-461a-8dfa-ef8950a692ca",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Telegram Trigger').item.json.callback_query.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        2864
      ],
      "id": "d93cab6f-3b64-4690-af83-7a42a2af25d9",
      "name": "Answer a callback 3",
      "webhookId": "5866b4b8-e7dd-4fde-a445-a823c7b84561",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Telegram Trigger').item.json.callback_query.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        3440
      ],
      "id": "ad1f92bf-416e-4eff-aafa-f8a915c4bd39",
      "name": "Answer a callback ",
      "webhookId": "26fc2c11-6b98-4a14-847a-74f3513c37c9",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set Params').item.json.tg.user_id }}",
        "text": "Пользователь уже существует! Для начала работы загрузи изображения или напиши промпт или вызови главное меню /menu",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        -128
      ],
      "id": "76a8ead6-f602-4e7d-a470-a49938958f78",
      "name": "User exists",
      "webhookId": "58c57170-2308-49ce-8092-9871601d7448",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/{{ $('Set Params').item.json.tg.botID }}/setMyCommands",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"commands\": [\n    {\n      \"command\": \"menu\",\n      \"description\": \"Главное меню\"\n    },\n    {\n      \"command\": \"start\",\n      \"description\": \"Создать пользователя\"\n    },\n    {\n      \"command\": \"clear_context\",\n      \"description\": \"Очистить контекст (новоая генерация)\"\n    },\n    {\n      \"command\": \"help\",\n      \"description\": \"Подсказка\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        256
      ],
      "id": "28483a8c-4011-46a2-ab60-da2ae78f1777",
      "name": "Create main menu",
      "notesInFlow": true,
      "disabled": true
    },
    {
      "parameters": {
        "content": "openai/gpt-5-image-mini - $5.79\ngoogle/gemini-2.5-flash-image - обычная Нано Банана $28.63\ngoogle/gemini-3-pro-image-preview - Pro версия $112.80\nblack-forest-labs/flux.2-klein-4b - 00.00\n\n\n\n",
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2736,
        592
      ],
      "id": "cca5e5ee-5e8b-4a6c-8f8e-db0feb755733",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        3008
      ],
      "id": "18a93a38-79cb-4149-91b4-97174b654764",
      "name": "Generate Image",
      "credentials": {
        "openRouterApi": {
          "id": "VlxLygkLgYN8SnNE",
          "name": "OpenRouter for Image-Video Generator"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f1f6430b-931e-418a-9439-a76ba0ddbcff",
                    "leftValue": "={{ $json.count_tg_db_telegram_id }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ok"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        0,
        -32
      ],
      "id": "75e84ed8-a627-44f6-924f-970194f20516",
      "name": "User Exists ?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "950aa646-fd8c-4976-8f42-1d04bbc9bf79",
              "name": "tg.model",
              "value": "={{ $('Get a User').item.json.model }}",
              "type": "string"
            },
            {
              "id": "8c63672b-ef7c-4c94-b8b5-d841224b8102",
              "name": "tg.generation_type",
              "value": "={{ $('Get a User').item.json.generation_type }}",
              "type": "string"
            },
            {
              "id": "0a0f8cb6-72c7-4306-8b4c-7e1a7d7d2b81",
              "name": "tg.db_telegram_id",
              "value": "={{ $('Get a User').first().json.telegram_id }}",
              "type": "string"
            },
            {
              "id": "fa3f5d16-8d7e-48b6-b0f9-b9b261f4262d",
              "name": "tg.db_user_id",
              "value": "={{ $('Get a User').first().json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        3536
      ],
      "id": "0504446c-c20c-451a-b0bd-e5878c2ae2aa",
      "name": "Set User Params"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "ImageHistory",
        "limit": 5,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Set User Params').first().json.tg.db_user_id }}"
            },
            {
              "keyName": "image_status",
              "condition": "eq",
              "keyValue": "active"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        2032
      ],
      "id": "77aca90f-d06a-4ab4-ad7e-2e1a69d833e1",
      "name": "Get active images",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Z1UYTqDLcqu0rYkP",
          "name": "Supabase for ImageVideoGenerator"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ImageHistory",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "image_status",
              "condition": "eq",
              "keyValue": "active"
            },
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Set User Params').first().json.tg.db_user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "image_status",
              "fieldValue": "cleared"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        528
      ],
      "id": "bd129299-2c34-4233-8eae-b905f20c2bc5",
      "name": "image_status - cleared",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Z1UYTqDLcqu0rYkP",
          "name": "Supabase for ImageVideoGenerator"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ImageHistory",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Set User Params').first().json.tg.db_user_id }}"
            },
            {
              "keyName": "image_status",
              "condition": "eq",
              "keyValue": "active"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "image_status",
              "fieldValue": "cleared"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        3264
      ],
      "id": "0526c599-74e0-4d5f-8293-2bac1dc67b02",
      "name": "image_status - cleared (v2)",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Z1UYTqDLcqu0rYkP",
          "name": "Supabase for ImageVideoGenerator"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ImageHistory",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Set User Params').first().json.tg.db_user_id }}"
            },
            {
              "keyName": "image_status",
              "condition": "eq",
              "keyValue": "active"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "image_status",
              "fieldValue": "cleared"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2912,
        2736
      ],
      "id": "9645564e-8042-4753-acfc-97992ec5ae4e",
      "name": "Clear active images",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "Z1UYTqDLcqu0rYkP",
          "name": "Supabase for ImageVideoGenerator"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://byyiwfyetzlegbowqbtn.supabase.co/storage/v1/object/photos/{{ Date.now() }}_{{ $binary.data.fileName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2688,
        2832
      ],
      "id": "37d044e5-cc20-4bef-b134-ba955f497c8d",
      "name": "Send result image to DB storage",
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "Zfe1EGnJorQNpOzW",
          "name": "VseLLM Images"
        },
        "httpHeaderAuth": {
          "id": "wgg3Z1GOct9Qnmy8",
          "name": "Header Auth for ImageVideoGenerator"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "=Ошибка загрузки изображения в DB storage!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2912,
        2928
      ],
      "id": "26c5edba-736f-4a0f-b0b9-f879f501ed91",
      "name": "Error DB1",
      "webhookId": "5053bba7-d94f-4a39-bc1d-552b30eb0d1e",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "=Ошибка изменения состояния изображения в DB!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3136,
        2832
      ],
      "id": "0c317221-19cb-4148-a47d-f6ede7035348",
      "name": "Error DB2",
      "webhookId": "40452f69-bde7-41ec-8504-5b945fbb0066",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "=Ошибка создания изображения в DB!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3360,
        2704
      ],
      "id": "0121e42d-9fc5-4718-ad99-472407ea8f44",
      "name": "Error DB 3",
      "webhookId": "0aed05fc-b19f-4236-9f6e-32fd61a8c741",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ImageUsers",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ $('Set Params').item.json.tg.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "model",
              "fieldValue": "openai/gpt-5-image-mini"
            },
            {
              "fieldId": "generation_type",
              "fieldValue": "image"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        3808
      ],
      "id": "21c4abfd-ec7a-48dc-8865-df28da503eec",
      "name": "Model 1",
      "credentials": {
        "supabaseApi": {
          "id": "Z1UYTqDLcqu0rYkP",
          "name": "Supabase for ImageVideoGenerator"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "=Установлена модель \"ChatGPT mini\": openai/gpt-5-image-mini ($5.79 за 1 млн. токенов)",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        3808
      ],
      "id": "c4ba5b9d-6e42-4868-85b5-2fd3b448576b",
      "name": "Info 1",
      "webhookId": "6fcfabca-b6ec-45a9-85d3-56fa9fb4a8d4",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ImageUsers",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ $('Set Params').item.json.tg.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "model",
              "fieldValue": "google/gemini-2.5-flash-image"
            },
            {
              "fieldId": "generation_type",
              "fieldValue": "image"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        4000
      ],
      "id": "29b3823c-b5c6-4d94-babf-243ae441a7c7",
      "name": "Model 2",
      "credentials": {
        "supabaseApi": {
          "id": "Z1UYTqDLcqu0rYkP",
          "name": "Supabase for ImageVideoGenerator"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "=Установлена модель \"Nano Banana\": google/gemini-2.5-flash-image ($28.63 за 1 млн. токенов)",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        4000
      ],
      "id": "2e290055-e5b7-48c4-8953-685aad1329ef",
      "name": "Info 2",
      "webhookId": "80849f44-906e-4708-84ec-f564d4c6abc7",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ImageUsers",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ $('Set Params').item.json.tg.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "model",
              "fieldValue": "google/gemini-3-pro-image-preview"
            },
            {
              "fieldId": "generation_type",
              "fieldValue": "image"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        4192
      ],
      "id": "736cbcec-9a51-45cb-b27e-7f51b27c5967",
      "name": "Model 3",
      "credentials": {
        "supabaseApi": {
          "id": "Z1UYTqDLcqu0rYkP",
          "name": "Supabase for ImageVideoGenerator"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "=Установлена модель \"Nano Banana Pro\": google/gemini-3-pro-image-preview ($112.80 за 1 млн.токенов)",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        4192
      ],
      "id": "78220a4b-7c36-4cb1-b890-9a02dc952ef4",
      "name": "Info 3",
      "webhookId": "9cb4b46c-51ed-4b09-91cf-6341ee08ffd0",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ImageUsers",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ $('Set Params').item.json.tg.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "model",
              "fieldValue": "black-forest-labs/flux.2-klein-4b"
            },
            {
              "fieldId": "generation_type",
              "fieldValue": "image"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        4384
      ],
      "id": "732a1be8-8029-4ecd-bb0c-3fcff16e32cc",
      "name": "Model 4",
      "credentials": {
        "supabaseApi": {
          "id": "Z1UYTqDLcqu0rYkP",
          "name": "Supabase for ImageVideoGenerator"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "=Установлена модель \"Fast\": \"black-forest-labs/flux.2-klein-4b\"",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        4384
      ],
      "id": "9bac68b9-491c-4a08-a41f-53d2c841cb91",
      "name": "Info 4",
      "webhookId": "fa8cb868-9434-4eb5-b37a-393180990d99",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "31f1e241-cf9b-46b5-a457-e11623ab5da9",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2016,
        2928
      ],
      "id": "1e0cec62-b58c-4bc5-9415-1f126c7a5c06",
      "name": "Check Error"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "Скачай изображение без сжатия. {{ $json.info_message }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2240,
        3232
      ],
      "id": "85bf59ae-b3ad-4b54-9a2f-86de086c0caa",
      "name": "Send a file",
      "webhookId": "3bd93950-1781-456f-a81d-9ab45a19da22",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "=Send file error: {{ $json.error }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2464,
        3248
      ],
      "id": "11c64343-6786-428b-abca-5fcfd8d0969f",
      "name": "Send file error",
      "webhookId": "c5c983d0-a11b-40db-a01d-5ffde198f868",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://byyiwfyetzlegbowqbtn.supabase.co/storage/v1/object/photos/{{ Date.now() }}_{{ $binary.data.fileName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        1296
      ],
      "id": "1f57150a-8a38-4f0e-bfca-909a8ab2f621",
      "name": "Send image to DB storage",
      "credentials": {
        "httpBearerAuth": {
          "id": "Zfe1EGnJorQNpOzW",
          "name": "VseLLM Images"
        },
        "httpHeaderAuth": {
          "id": "wgg3Z1GOct9Qnmy8",
          "name": "Header Auth for ImageVideoGenerator"
        }
      }
    },
    {
      "parameters": {
        "tableId": "ImageHistory",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Set User Params').first().json.tg.db_user_id }}"
            },
            {
              "fieldId": "prompt",
              "fieldValue": "={{ $('Set Params').first().json.tg.text || $('Set Params').first().json.tg.photo_caption || \"\" }}"
            },
            {
              "fieldId": "image_id",
              "fieldValue": "={{ $json.Id }}"
            },
            {
              "fieldId": "image_name",
              "fieldValue": "={{ $json.Key }}"
            },
            {
              "fieldId": "image_status",
              "fieldValue": "active"
            },
            {
              "fieldId": "image_type",
              "fieldValue": "context"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        896,
        1296
      ],
      "id": "5264160b-dfe6-4567-9736-fc53a2db0df6",
      "name": "Create context image",
      "credentials": {
        "supabaseApi": {
          "id": "Z1UYTqDLcqu0rYkP",
          "name": "Supabase for ImageVideoGenerator"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "tableId": "ImageHistory",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Set User Params').first().json.tg.db_user_id }}"
            },
            {
              "fieldId": "prompt",
              "fieldValue": "={{ $('Set Params').first().json.tg.text || $('Set Params').first().json.tg.photo_caption || \"\" }}"
            },
            {
              "fieldId": "image_id",
              "fieldValue": "={{ $('Send result image to DB storage').item.json.Id }}"
            },
            {
              "fieldId": "image_name",
              "fieldValue": "={{ $('Send result image to DB storage').item.json.Key }}"
            },
            {
              "fieldId": "image_status",
              "fieldValue": "active"
            },
            {
              "fieldId": "image_type",
              "fieldValue": "result"
            },
            {
              "fieldId": "usage",
              "fieldValue": "={{ $('Prepare file for DB').item.json.usage }}"
            },
            {
              "fieldId": "image_model",
              "fieldValue": "={{ $('Set User Params').first().json.tg.generation_type }}: {{ $('Set User Params').first().json.tg.model }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3184,
        2656
      ],
      "id": "2359d1ba-2fc6-45d0-9604-3154df07d734",
      "name": "Create result image",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "Z1UYTqDLcqu0rYkP",
          "name": "Supabase for ImageVideoGenerator"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }} ",
        "text": "Выбери, что нужно сделать:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Новая генерация",
                    "additionalFields": {
                      "callback_data": "clear_context"
                    }
                  },
                  {
                    "text": "Продолжить редактирование",
                    "additionalFields": {
                      "callback_data": "edit"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Nano Banana",
                    "additionalFields": {
                      "callback_data": "model2"
                    }
                  },
                  {
                    "text": "Nano Banana Pro",
                    "additionalFields": {
                      "callback_data": "model3"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "ChatGPT mini",
                    "additionalFields": {
                      "callback_data": "model1"
                    }
                  },
                  {
                    "text": "Fast",
                    "additionalFields": {
                      "callback_data": "model4"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Text2Video",
                    "additionalFields": {
                      "callback_data": "t2v"
                    }
                  },
                  {
                    "text": "Image2Video",
                    "additionalFields": {
                      "callback_data": "i2v"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4544,
        1104
      ],
      "id": "2470e2de-30fb-4848-82af-acef68e1534d",
      "name": "Create Main menu1",
      "webhookId": "a340de26-d6e9-40de-8eb5-85597a50d934",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ImageUsers",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ $('Set Params').item.json.tg.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "model",
              "fieldValue": "black-forest-labs/flux.2-klein-4b"
            },
            {
              "fieldId": "generation_type",
              "fieldValue": "image"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        672,
        3248
      ],
      "id": "c5bd4f63-e8ac-4ffa-8cff-a6d992a58695",
      "name": "Model Fast",
      "credentials": {
        "supabaseApi": {
          "id": "Z1UYTqDLcqu0rYkP",
          "name": "Supabase for ImageVideoGenerator"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ImageUsers",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ $('Set Params').item.json.tg.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "model",
              "fieldValue": "black-forest-labs/flux.2-klein-4b"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        352
      ],
      "id": "42f3b981-d1eb-4c29-9ec5-a33ca7186ad5",
      "name": "Model Fast1",
      "credentials": {
        "supabaseApi": {
          "id": "Z1UYTqDLcqu0rYkP",
          "name": "Supabase for ImageVideoGenerator"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ImageUsers",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ $('Set Params').item.json.tg.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "model",
              "fieldValue": "MiniMax-Hailuo-02"
            },
            {
              "fieldId": "generation_type",
              "fieldValue": "video"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        4576
      ],
      "id": "504469e4-598e-42b6-8bf8-58258c04fc77",
      "name": "Model t2v",
      "credentials": {
        "supabaseApi": {
          "id": "Z1UYTqDLcqu0rYkP",
          "name": "Supabase for ImageVideoGenerator"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "=Установлена модель для t2v: MiniMax-Hailuo-02",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        4576
      ],
      "id": "06606cfe-55d0-4f6e-b4e6-50965a56ef67",
      "name": "Info t2v",
      "webhookId": "fa8cb868-9434-4eb5-b37a-393180990d99",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ImageUsers",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ $('Set Params').item.json.tg.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "model",
              "fieldValue": "MiniMax-Hailuo-02"
            },
            {
              "fieldId": "generation_type",
              "fieldValue": "video"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        4768
      ],
      "id": "46209b31-a60d-42ae-92da-bcd1b07caef6",
      "name": "Model i2v",
      "credentials": {
        "supabaseApi": {
          "id": "Z1UYTqDLcqu0rYkP",
          "name": "Supabase for ImageVideoGenerator"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "=Установлена модель для i2v: MiniMax-Hailuo-02",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        4768
      ],
      "id": "4cb46ff5-2874-4a2b-b4e5-de6f6b4f9d6b",
      "name": "Info i2v",
      "webhookId": "fa8cb868-9434-4eb5-b37a-393180990d99",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "95fbdd03-ecc5-4bb6-b9ac-e14cf38d38ef",
              "leftValue": "={{ $('Set User Params').item.json.tg.generation_type }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1136,
        1856
      ],
      "id": "6381da25-b64c-4bbb-9dca-1223f90e2418",
      "name": "if image"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nlet prompt = $('Set Params').first().json.tg?.text || \"Опиши эти картинки. Ответь на русском языке.\";\n// Можно добавить инструкции\n// prompt = `${prompt}\\n\\nОтветь на русском языке.`;\n\nconst images = input.json.images || [];\n\n// Формируем content\nconst content = [\n  { type: \"text\", text: prompt }\n];\n\nfor (const img of images) {\n  content.push({\n    type: \"image_url\",\n    image_url: {\n      url: `data:${img.inlineData.mimeType};base64,${img.inlineData.data}`\n    }\n  });\n}\n\nreturn [{\n  json: {\n    model: $('Set User Params').first().json.tg.model,\n    messages: [\n      {\n        role: \"user\",\n        content: content\n      },\n    ],\n    response_format: {\n      type: \"image\",\n      image: {\n        n: 1,   // <-- ВОТ ЭТО количество картинок\n        aspect_ratio: \"4:3\"\n      }\n    },\n    //reasoning: {\n    //    effort: \"none\"\n    //},\n    generation_config: {\n      candidate_count: 1\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        3008
      ],
      "id": "0df58f3b-68e8-4779-a705-6a200d6bda38",
      "name": "Prepare JSON for Image"
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Set Params').first().json.tg?.text || 'Сгенерируй красивое кинематографичное видео';\nconst prompt = `${raw}, smooth motion, stable camera, cinematic lighting`;\n\nconst inlineData = $input.first().json.images?.[0]?.inlineData?.data;\nconst payload = {\n  model: 'MiniMax-Hailuo-02',\n  // model: 'T2V-01',\n  prompt,\n  duration: 6,\n  resolution: '768P',\n  prompt_optimizer: true,\n};\n\n// Если изображение есть — генерируем i2v, иначе делаем t2v.\nif (inlineData) {\n  payload.first_frame_image = `data:image/jpeg;base64,${inlineData}`;\n}\n\nreturn [{ json: payload }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        1776
      ],
      "id": "fce8b5e4-b0f0-4c4c-acb3-15073ea6e4fd",
      "name": "Prepare JSON for video"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nif (input?.file?.download_url) {\n  return [{\n    json: {\n      video_url: input.file.download_url,\n      info_message: 'Видео готово.'\n    }\n  }];\n}\n\nif (input?.download_url) {\n  return [{\n    json: {\n      video_url: input.download_url,\n      info_message: 'Видео готово.'\n    }\n  }];\n}\n\nconst statusMsg = input?.base_resp?.status_msg || '';\nreturn [{ json: { error: statusMsg || 'Не удалось получить ссылку на видео из MiniMax API' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3632,
        1920
      ],
      "id": "336ca951-e45e-4004-97bc-e0ffee5ff30c",
      "name": "Extract Video URL"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "vid-task-1",
              "leftValue": "={{ $json.task_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1728,
        1856
      ],
      "id": "4a3076b2-8554-4b65-9e87-5d990cd9b825",
      "name": "If Video task created"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst retries = (items[0].json._fal_retries || 0) + 1;\nconst total = 4;\n\nif (retries > total) {\n  throw new Error('Timeout: видео не сгенерировано, попробуйте позже.');\n}\n\nconst ratio = retries / total;\nconst percent = Math.min(100, Math.floor(ratio * 100));\nconst filled = Math.min(10, Math.floor(ratio * 10));\nconst bar = '█'.repeat(filled) + '░'.repeat(10 - filled);\n\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    _fal_retries: retries,\n    _progress_text: `⏳ Генерация видео...\\n${bar} ${percent}%`\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        1968
      ],
      "id": "4a679720-64b7-4f19-b318-dc3620b0d742",
      "name": "Wait before query video",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2448,
        1904
      ],
      "id": "dc326a52-1e5f-4fab-a7b0-2c65f563538d",
      "name": "Wait 30s",
      "webhookId": "2a6b7b34-f995-4654-bff2-d8afba98319b"
    },
    {
      "parameters": {
        "url": "=https://api.minimax.io/v1/query/video_generation?task_id={{ $json.tg?.video_task_id || $('Set Task Params').first().json.tg.video_task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        2112
      ],
      "id": "d271daa3-ead6-4dad-8ad6-54ec664bed35",
      "name": "Query Video Status",
      "credentials": {
        "httpBearerAuth": {
          "id": "087or3GMkdyOnKmb",
          "name": "Bearer Auth MinMax"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1"
            }
          }
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2896,
        2000
      ],
      "id": "84b65912-ea3a-480b-b94c-96defeeb6424",
      "name": "Merge video status with context"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "vstatus-success",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "Success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "vstatus-fail",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "Fail",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        3056,
        2144
      ],
      "id": "9ebf7346-85f8-4261-9962-323c8e6b93be",
      "name": "Switch video status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "v1",
              "leftValue": "={{ $json.video_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3856,
        1920
      ],
      "id": "9e48543e-3091-47aa-b4ad-30c9c75ca3bf",
      "name": "If Video URL"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id || $('Set Params').first().json.tg.user_id }}",
        "file": "={{ $json.video_url }}",
        "additionalFields": {
          "caption": "={{ $json.info_message || \"\" }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4080,
        1968
      ],
      "id": "706ba6df-de88-42cd-a4cb-2683d77d85ff",
      "name": "Send Video to Telegram",
      "webhookId": "910eb82b-398c-4013-9862-72e2adab491e",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "95fbdd03-ecc5-4bb6-b9ac-e14cf38d38ef",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        1936
      ],
      "id": "e80de2ea-afd2-4c35-9dc9-913d3c1bb389",
      "name": "If image exists"
    },
    {
      "parameters": {
        "url": "=https://api.minimax.io/v1/files/retrieve?file_id={{ $('Query Video Status').item.json.file_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3424,
        1936
      ],
      "id": "a6e4d99e-45f2-4cbd-bae9-f691370ad5c6",
      "name": "Get Video File",
      "credentials": {
        "httpBearerAuth": {
          "id": "087or3GMkdyOnKmb",
          "name": "Bearer Auth MinMax"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "=Ошибка генерации видео",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4768,
        1584
      ],
      "id": "e3ac7791-4399-4641-8a83-bac7afddc8fc",
      "name": "Error Video",
      "webhookId": "40452f69-bde7-41ec-8504-5b945fbb0066",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }} ",
        "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}",
        "text": "Контекст очищен, установлена модель \"Fast\": \"black-forest-labs/flux.2-klein-4b\". Загрузи изображения или напиши промпт. ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        3216
      ],
      "id": "15d00adb-3700-4cea-9284-169814eaf8fb",
      "name": "Cleared + удаление меню1",
      "webhookId": "b8c72f9f-4975-44d1-b2d4-844a1412a53c",
      "retryOnFail": false,
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }} ",
        "text": "Контекст очищен, установлена модель \"Fast\": \"black-forest-labs/flux.2-klein-4b\". Загрузи изображения или напиши промпт. ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        3408
      ],
      "id": "cd745f79-51c3-40bf-8abd-eeaec15d3d08",
      "name": "Cleared message",
      "webhookId": "b8c72f9f-4975-44d1-b2d4-844a1412a53c",
      "retryOnFail": false,
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }} ",
        "text": "Контекст пустой или ошибка в получении данных из DB",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        3584
      ],
      "id": "c9a60943-8f31-43ad-ae7b-d410894212c2",
      "name": "Empty message",
      "webhookId": "3d580886-cab6-4093-bae4-f70e568b5f64",
      "retryOnFail": false,
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set Params').item.json.tg.user_id }}",
        "text": "=Для начала работы загрузи изображения или напиши промпт или вызови главное меню /menu",
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        720
      ],
      "id": "3e78e15e-15fd-420c-8176-e7e2ef22dd68",
      "name": "Help",
      "webhookId": "b13c8916-b842-4612-b1f0-aeb3814d2bce",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2240,
        2992
      ],
      "id": "0b813fa5-e9b7-421f-8777-12adedf2066f",
      "name": "Send image to user",
      "webhookId": "28eb3176-2ec8-4689-a4ae-e9f9a35400b6",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.video_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4080,
        2288
      ],
      "id": "73214cf9-6850-48a8-9f6e-0ca5bf8de80a",
      "name": "Download result video for DB",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "tableId": "ImageHistory",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Set User Params').first().json.tg.db_user_id }}"
            },
            {
              "fieldId": "prompt",
              "fieldValue": "={{ $('Set Params').first().json.tg.text || $('Set Params').first().json.tg.photo_caption || \"\" }}"
            },
            {
              "fieldId": "image_id",
              "fieldValue": "={{ $('Send result video to DB storage1').item.json.Id }}"
            },
            {
              "fieldId": "image_name",
              "fieldValue": "={{ $('Send result video to DB storage1').item.json.Key }}"
            },
            {
              "fieldId": "image_status",
              "fieldValue": "active"
            },
            {
              "fieldId": "image_type",
              "fieldValue": "result"
            },
            {
              "fieldId": "image_model",
              "fieldValue": "={{ $('Set User Params').first().json.tg.generation_type }}: {{ $('Set User Params').first().json.tg.model }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4752,
        2496
      ],
      "id": "d28cfca7-2d4d-441e-8a46-9c8a495b282b",
      "name": "Create result video",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "Z1UYTqDLcqu0rYkP",
          "name": "Supabase for ImageVideoGenerator"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://byyiwfyetzlegbowqbtn.supabase.co/storage/v1/object/photos/{{ Date.now() }}_{{ $binary.data.fileName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4304,
        2352
      ],
      "id": "5c95dac5-0361-4a63-b257-7ce6b0696164",
      "name": "Send result video to DB storage1",
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "Zfe1EGnJorQNpOzW",
          "name": "VseLLM Images"
        },
        "httpHeaderAuth": {
          "id": "wgg3Z1GOct9Qnmy8",
          "name": "Header Auth for ImageVideoGenerator"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ImageHistory",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Set User Params').first().json.tg.db_user_id }}"
            },
            {
              "keyName": "image_status",
              "condition": "eq",
              "keyValue": "active"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "image_status",
              "fieldValue": "cleared"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4528,
        2432
      ],
      "id": "f45d9c8a-9b57-4be2-b78b-0b33a4825236",
      "name": "Clear active videos",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "Z1UYTqDLcqu0rYkP",
          "name": "Supabase for ImageVideoGenerator"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id || $('Set Params').first().json.tg.user_id }}",
        "text": "⏳ Генерация видео...\n░░░░░░░░░░ 0%",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        1984
      ],
      "id": "4ca7d733-83b2-4c27-9326-062387d59950",
      "name": "Send video progress message",
      "webhookId": "50f6ec61-390d-4fca-80f3-2d989e18507d",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id || $('Set Params').first().json.tg.user_id }}",
        "messageId": "={{ $('Send video progress message').first().json.result?.message_id || $('Send video progress message').first().json.message_id }}",
        "text": "={{ $json._progress_text || '⏳ Генерация видео...' }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2672,
        1712
      ],
      "id": "c3a8d001-29fa-4a19-874d-315b06b5cfaa",
      "name": "Update video progress message1",
      "webhookId": "42fe47d6-c89f-4c53-9768-50e0d1672f7e",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id || $('Set Params').first().json.tg.user_id }}",
        "messageId": "={{ $('Send video progress message').first().json.result?.message_id || $('Send video progress message').first().json.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3264,
        2016
      ],
      "id": "0bf30592-398d-4af7-b245-c6372578b73d",
      "name": "Delete video progress (success)",
      "webhookId": "f0c48552-5d70-49d4-bf79-b6358dc9518e",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "950aa646-fd8c-4976-8f42-1d04bbc9bf79",
              "name": "tg.video_task_id",
              "value": "={{ $json.task_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        2096
      ],
      "id": "673a9f99-2fde-46b6-bb2b-63852b647c77",
      "name": "Set Task Params"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.minimax.io/v1/video_generation",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        1792
      ],
      "id": "e8a87249-7a44-4694-8c3a-5ea87bc876b2",
      "name": "Generate Video",
      "credentials": {
        "httpBearerAuth": {
          "id": "087or3GMkdyOnKmb",
          "name": "Bearer Auth MinMax"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Telegram Trigger').item.json.callback_query.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        4128
      ],
      "id": "6ed3497a-29e2-4b50-a1b5-dae72c00b757",
      "name": "Answer a callback 2",
      "webhookId": "23e43805-6b8b-4350-b4ba-7168353c51f3",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }} ",
        "text": "Напиши, что нужно изменить или добавь дополнительные материалы!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        2864
      ],
      "id": "7509905a-0e50-4c99-b249-a3073081dceb",
      "name": "Message",
      "webhookId": "edac3eeb-d37f-4d93-a0ee-259cd4526925",
      "retryOnFail": false,
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "=Ошибка генерации видео",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3872,
        2544
      ],
      "id": "4b6c8f5b-217a-47b3-be83-b71168618ee1",
      "name": "Error Video1",
      "webhookId": "40452f69-bde7-41ec-8504-5b945fbb0066",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Params').first().json.tg.db_telegram_id }}",
        "text": "=Таймаут генерации видео",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2448,
        1568
      ],
      "id": "201a4cf2-1fd9-4778-9e93-b8fde48e9aa9",
      "name": "Error Video timeout",
      "webhookId": "40452f69-bde7-41ec-8504-5b945fbb0066",
      "credentials": {
        "telegramApi": {
          "id": "SlfbtWnskmn7KwKr",
          "name": "Telegram Text2Image2Video"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Set Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Photo": {
      "main": [
        [
          {
            "node": "Send image to DB storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Params": {
      "main": [
        [
          {
            "node": "Get a User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch message type": {
      "main": [
        [
          {
            "node": "Get image with necessary size (small now)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get active images",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File unsupport",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "image_status - cleared (v2)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Model 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Model 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Model 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Model 4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Model t2v",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Model i2v",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown data type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unknown user": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a User": {
      "main": [
        [
          {
            "node": "Set User Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Switch Bot Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch message type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Bot Command": {
      "main": [
        [
          {
            "node": "User Exists ?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "image_status - cleared",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Main menu1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert bin to base64": {
      "main": [
        [
          {
            "node": "if image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get image with necessary size (small now)": {
      "main": [
        [
          {
            "node": "Download Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a User": {
      "main": [
        [
          {
            "node": "Create User ok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare file for DB": {
      "main": [
        [
          {
            "node": "Check Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Model Fast1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Context empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send result image to DB storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Please wait": {
      "main": [
        []
      ]
    },
    "HTTP Request - download photo from DB": {
      "main": [
        [
          {
            "node": "Convert bin to base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Model Fast",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Empty message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Prepare file for DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Exists ?": {
      "main": [
        [
          {
            "node": "User exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create main menu",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set User Params": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get active images": {
      "main": [
        [
          {
            "node": "If image exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Get rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image_status - cleared": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Context empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image_status - cleared (v2)": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Empty message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send result image to DB storage": {
      "main": [
        [
          {
            "node": "Clear active images",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error DB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear active images": {
      "main": [
        [
          {
            "node": "Create result image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error DB2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model 1": {
      "main": [
        [
          {
            "node": "Info 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model 2": {
      "main": [
        [
          {
            "node": "Info 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model 3": {
      "main": [
        [
          {
            "node": "Info 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model 4": {
      "main": [
        [
          {
            "node": "Info 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Error": {
      "main": [
        [
          {
            "node": "Error LLM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send image to user",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a file": {
      "main": [
        [
          {
            "node": "Create Main menu1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send file error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send image to DB storage": {
      "main": [
        [
          {
            "node": "Create context image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create context image": {
      "main": [
        [
          {
            "node": "Photo added to context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Photo added to context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create result image": {
      "main": [
        [],
        [
          {
            "node": "Error DB 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info 1": {
      "main": [
        [
          {
            "node": "Answer a callback 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info 2": {
      "main": [
        [
          {
            "node": "Answer a callback 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info 3": {
      "main": [
        [
          {
            "node": "Answer a callback 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info 4": {
      "main": [
        [
          {
            "node": "Answer a callback 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model Fast": {
      "main": [
        [
          {
            "node": "Cleared message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cleared + удаление меню1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model Fast1": {
      "main": [
        [
          {
            "node": "Context cleared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model t2v": {
      "main": [
        [
          {
            "node": "Info t2v",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info t2v": {
      "main": [
        [
          {
            "node": "Answer a callback 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model i2v": {
      "main": [
        [
          {
            "node": "Info i2v",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info i2v": {
      "main": [
        [
          {
            "node": "Answer a callback 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if image": {
      "main": [
        [
          {
            "node": "Please wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare JSON for Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare JSON for video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare JSON for Image": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare JSON for video": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Video URL": {
      "main": [
        [
          {
            "node": "If Video URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Video task created": {
      "main": [
        [
          {
            "node": "Set Task Params",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait before query video": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Video timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "Query Video Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update video progress message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge video status with context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Query Video Status": {
      "main": [
        [
          {
            "node": "Merge video status with context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait before query video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge video status with context": {
      "main": [
        [
          {
            "node": "Switch video status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch video status": {
      "main": [
        [
          {
            "node": "Delete video progress (success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait before query video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Video URL": {
      "main": [
        [
          {
            "node": "Send Video to Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download result video for DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If image exists": {
      "main": [
        [
          {
            "node": "HTTP Request - download photo from DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "if image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video File": {
      "main": [
        [
          {
            "node": "Extract Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Video to Telegram": {
      "main": [
        [
          {
            "node": "Create Main menu1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleared message": {
      "main": [
        [
          {
            "node": "Answer a callback ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empty message": {
      "main": [
        [
          {
            "node": "Answer a callback ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send image to user": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Send image error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download result video for DB": {
      "main": [
        [
          {
            "node": "Send result video to DB storage1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send result video to DB storage1": {
      "main": [
        [
          {
            "node": "Clear active videos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create result video": {
      "main": [
        [],
        [
          {
            "node": "Error Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear active videos": {
      "main": [
        [
          {
            "node": "Create result video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send video progress message": {
      "main": [
        [
          {
            "node": "Wait before query video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait before query video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete video progress (success)": {
      "main": [
        [
          {
            "node": "Get Video File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "If Video task created",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Task Params": {
      "main": [
        [
          {
            "node": "Send video progress message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message": {
      "main": [
        [
          {
            "node": "Answer a callback 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "29df00c7-d4e6-456e-99b7-3cf42bc7bd51",
  "meta": {
    "instanceId": "f4300700b5a89163b88ad6a908ff9e3076c705e8b03a3f40f03ff2f29f7e4289"
  },
  "id": "Ws45asKlRQj80FM1",
  "tags": []
}